<div id="wrap">
  <header>
    <div class="inner relative">
      <h3 style="color:  #ffffff; font: normal 60px 'Cookie', cursive;">Car <span style="color:  #5383d3;">Market</span></h3>
      <!--<a href="/home">Car Market</a>-->
      <a id="menu-toggle" class="button dark" href="#"><i class="icon-reorder"></i></a>
      <nav id="navigation">
        <ul id="main-menu">

          <li><a href="/home">Home</a></li>

          <!--<li class="parent">-->
            <!--<a href="/register">Register</a>-->
            <!--<ul class="sub-menu">-->
              <!--<li><a href="#"><i class="icon-wrench"></i> Elements</a></li>-->
              <!--<li><a href="#"><i class="icon-credit-card"></i>  Pricing Tables</a></li>-->
              <!--<li><a href="#"><i class="icon-gift"></i> Icons</a></li>-->
              <!--<li>-->
                <!--<a class="parent" href="#"><i class="icon-file-alt"></i> Pages</a>-->
                <!--<ul class="sub-menu">-->
                  <!--<li><a href="#">Full Width</a></li>-->
                  <!--<li><a href="#">Left Sidebar</a></li>-->
                  <!--<li><a href="#">Right Sidebar</a></li>-->
                  <!--<li><a href="#">Double Sidebar</a></li>-->
                <!--</ul>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</li>-->

          <!--<li><a href="/login">login</a></li>-->

          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a [routerLink]="['/register']">Register</a>
          </li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a [routerLink]="['/login']"> Login</a>
          </li>

          <li *ngIf="isAdmin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a [routerLink]="['/product']"> Add Product</a>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a [routerLink]="['/cart']"><i class="glyphicon glyphicon-shopping-cart"></i>
            <span class="badge">{{ productService.getProductCartSize()}}</span>
            </a>
          </li>

          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a [routerLink]="['/profile']"> Profile </a>
          </li>

          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a  (click)="onLogoutClick()"  [routerLink]="['/home']"> Logout</a>
          </li>

          <!--<li class="parent">-->
            <!--<a href="#">User Info</a>-->
            <!--<ul class="sub-menu"  *ngIf="authService.loggedIn()">-->
              <!--<li><a href="/profile">Profile</a></li>-->
              <!--<li><a (click)="onLogoutClick()" href="#">Logout</a></li>-->
            <!--</ul>-->
          <!--</li>-->

        </ul>
      </nav>
    </div>
  </header>
</div>
