<div id="wrap">
  <header>
    <div class="inner relative">
      <h3 style="color:  #ffffff; font: normal 60px 'Cookie', cursive;">Car <span style="color:  #5383d3;">Market</span></h3>
      <!--<a href="/home">Car Market</a>-->
      <a id="menu-toggle" class="button dark" href="#"><i class="icon-reorder"></i></a>
      <nav id="navigation">
        <ul id="main-menu">

          <li><a href="/home">Home</a></li>

          <li class="parent">
            <a href="/register">Register</a>
            <ul class="sub-menu">
              <li><a href="#"><i class="icon-wrench"></i> Elements</a></li>
              <li><a href="#"><i class="icon-credit-card"></i>  Pricing Tables</a></li>
              <li><a href="#"><i class="icon-gift"></i> Icons</a></li>
              <li>
                <a class="parent" href="#"><i class="icon-file-alt"></i> Pages</a>
                <ul class="sub-menu">
                  <li><a href="#">Full Width</a></li>
                  <li><a href="#">Left Sidebar</a></li>
                  <li><a href="#">Right Sidebar</a></li>
                  <li><a href="#">Double Sidebar</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li><a href="/login">login</a></li>

          <li class="parent">
            <a href="/product">Add Product</a>
            <ul class="sub-menu">
              <li><a href="#">Large Image</a></li>
              <li><a href="#">Medium Image</a></li>
              <li><a href="#">Masonry</a></li>
              <li><a href="#">Double Sidebar</a></li>
              <li><a href="#">Single Post</a></li>
            </ul>
          </li>

          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" >
            <a [routerLink]="['/cart']"><i class="glyphicon glyphicon-shopping-cart"></i>
            <span class="badge">{{ productService.getProductCartSize() || cart }}</span>
            </a>
          </li>

          <li><a href="#">Contact</a></li>

        </ul>
      </nav>
    </div>
  </header>
</div>
