.bg2 {
  background-image: url("profile.jpg");
}

.thumbnail {
  background-color: rgba(200,230,240,.8);
}
.title {
  text-align: center;
  font-size: 200%;
  background-color: rgba(120,120,120,0.7);
}
