<div class="panel panel-primary" style="width: 70%; margin-left: 15%">
  <div class="panel-heading">Profile</div>
  <div class="panel-body">


    <table  class="table">
      <thead>
      <tr>
        <th style="text-align: center">Name</th>
        <th style="text-align: center">Email</th>
        <th style="text-align: center">Username</th>
        <th style="text-align: center">Action</th>

      </tr>
      </thead>


      <tbody *ngFor="let user of users;let i = index">
      <tr  *ngIf="(i%2==0)">
        <td style="text-align: center">{{user.name}}</td>
        <td style="text-align: center">{{user.email}}</td>
        <td style="text-align: center">{{user.username}}</td>
        <td style="text-align: center"><a (click)="deleteProfile(user)" class="btn btn-danger a-btn-slide-text">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <span><strong>Delete</strong></span>
        </a></td>
      </tr>

      <tr class="success" *ngIf="(i%2!=0)">
        <td style="text-align: center">{{user.name}}</td>
        <td style="text-align: center">{{user.email}}</td>
        <td style="text-align: center">{{user.username}}</td>
        <td style="text-align: center"><a (click)="deleteProfile(user)" class="btn btn-danger a-btn-slide-text">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <span><strong>Delete</strong></span>
        </a></td>

      </tr>
      </tbody>



      <tbody >
      <tr *ngIf="singleUser" class="success">
        <td style="text-align: center">{{singleUser.name}}</td>
        <td style="text-align: center">{{singleUser.email}}</td>
        <td style="text-align: center">{{singleUser.username}}</td>
        <td style="text-align: center"><a (click)="editProfile(singleUser._id)" class="btn btn-info a-btn-slide-text">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <span><strong>Edit</strong></span>
        </a></td>
      </tr>
      </tbody>


    </table>

  </div>
</div>
