<div class="background">
<div *ngIf="products" class="row">
  <div *ngFor="let product of products;let i = index" class="col-sm-6 col-md-4">

    <div  class="thumbnail">
      <h3 style="float: left">{{product.code}}</h3>


      <h3 (click)="detailsView(product._id)" style="color: #26734d;text-align: center">{{product.name}}</h3>

      <img (click)="detailsView(product._id)" src="upload/{{product.picture}}" alt="..." class="img-responsive">
      <!--<img (click)="detailsView(product._id)" src="http://localhost:3000/{{product.picture}}" alt="..." class="img-responsive">-->
      <div class="caption">
        <div class="clearfix">
          <div class="price pull-left">{{ product.price }} ৳</div>


          <a (click)="cart(1,product._id,product)" class="btn btn-success pull-right" role="button">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </a>
          <p class="description">{{ product.description }}</p>

          <button (click)="delFunc(product)" *ngIf="isAdmin" style="float: right;margin-top: 18px;margin-right: 15px;" type="button" class="btn btn-danger btn-lg">
            Trash<br>
          </button>

          <button *ngIf="isAdmin" (click)="editProduct(product._id)" style="float: left;margin-top: 18px;margin-right: 15px;" type="button" class="btn btn-primary btn-lg">
            Edit
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
