.background {
  background-image: url(home-bg2.jpg);
}

.thumbnail {
  background-color: rgba(240,230,170,0.3);
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  margin-left: 40px;
  margin-top: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 12px;
  overflow-x: hidden;

}

.thumbnail img {
  height: 220px;
  width: 400px;

}

.thumbnail .description {
  color: #003333;
  font-size: 130%;
  text-align: center;
}

.price {
  font-weight: bold;
  font-size: 20px;
}
