<div class="jumbotron text-center">
  <h1 style="text-align: center">Ride Zone</h1>
  <p class="lead"> This is the lasgest online Market in Bangladesh</p>


</div>

<div *ngIf="products" class="row">
  <div *ngFor="let product of products">
    <div class="col-md-3" style="margin-left: 10px">
      <h3 style="text-align: center">{{product.name}}</h3>
      <!--<img src="http://localhost:3000/{{product.picture}}" height="170" width="250">-->


      <p>{{product.description}}</p>
    </div>
    <!--<div class="col-md-3">-->
    <!--<h3 style="text-align: center">Special Zeep</h3>-->
    <!--<img src="../../../assets/images/proxima-the-car-bike-concept2.jpg" height="170" width="250">-->

    <!--<p>This zeep will give you highest speed.</p>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
    <!--<h3 style="text-align: center">Bike</h3>-->
    <!--<img src="../../../assets/images/mahindra-centuro.jpg" height="170" width="250">-->
    <!--<p>Full featured authentication using JSON web tokens. Login and store user data</p>-->
    <!--</div>-->

    <!--<div class="col-md-2">-->
    <!--<h3 style="text-align: center">Hybrid Cycle</h3>-->
    <!--<img src="../../../assets/images/outrider1.jpg" height="170" width="250">-->
    <!--<p>This is hybrid Cycle</p>-->
    <!--</div>-->

    <!--</div>-->

  </div>
</div>
